<div class="cartArea">
    <h1>Shopping Cart</h1>
    <div class="cartList">
        {{#each cart}}
        <div class="itemBox">
            <img src="{{this.productId.image}}" alt="{{this.productId.name}}">
            <p class="image-text">{{this.productId.name}}</p>
            <p class="image-text">₱{{multiply this.price this.quantity}}</p>
            <div class="quantity">
                <span class="minus" data-id="{{this.productId._id}}">-</span>
                <span>{{this.quantity}}</span>
                <span class="plus" data-id="{{this.productId._id}}">+</span>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="totalCost">Total Cost: ₱{{totalCost}}</div>
    <div class="btn">
        <button class="close">CLOSE</button>
        <form method="post" action="/checkout">
            <button style="width: 100%;height:100%" class="checkOut">CHECK OUT</button>
        </form>
    </div>
</div>
